.Navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: beige;
}
.logo{
    width:200px;
    margin:1rem;
}
ul{
    list-style: none;
    display:flex;
    justify-content:space-between;
    width:100%;
    margin-right:1rem;
    font-weight: bold;
    font-size:1.2rem;
    color:rgb(72, 80, 53);
}

li:hover{
    color: rgb(89, 149, 129);
    box-shadow: 0 3px 0 rgb(56, 79, 56);
    cursor: pointer;
}